<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar este usuario", edit_user_path(@user) %> |
  <%= link_to "Voltar para tela inicial", users_path %>

  <%= button_to "Excluir usuario", @user, method: :delete %>
</div>
